{% extends 'base.html' %}
{% load static %}

{% block title %}Bookstore Home{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'base.css' %}">

<script src="{% static 'sales/home.js' %}" defer></script>
{% endblock %}

{% block content %}

<h1>Welcome to our Bookstore</h1>

<div class="image-slider">
    <div class="slide">
        <img src="{% static 'sales/images/bookstore.jpg' %}" alt="Bookstore 1">
    </div>

    <div class="slide">
        <img src="{% static 'sales/images/bookstore1.jpg' %}" alt="Bookstore Img">
    </div>

    <div class="slide">
        <img src="{% static 'sales/images/bookstore2.jpg' %}" alt="Bookstore Img">
    </div>

    <div class="slide">
        <img src="{% static 'sales/images/bookstore3.jpg' %}" alt="Bookstore Img">
    </div>

    <div class="slide">
        <img src="{% static 'sales/images/bookstore4.jpg' %}" alt="Bookstore Img">
    </div>

    <div class="slide">
        <img src="{% static 'sales/images/bookstore5.jpg' %}" alt="Bookstore Img">
    </div>

    <div class="slide">
        <img src="{% static 'sales/images/bookstore6.jpg' %}" alt="Bookstore Img">
    </div>

    <div class="slide">
        <img src="{% static 'sales/images/bookstore7.jpg' %}" alt="Bookstore Img">
    </div>

    <div class="slide">
        <img src="{% static 'sales/images/bookstore8.jpg' %}" alt="Bookstore Img">
    </div>

</div>
{% endblock %}