         /* MAIN CONTENT AREA */
        .container {
            border-radius: 10px;
        }
        
        h1 {
            color: #2c3e50;
            margin-bottom: 5px;
            font-size: 32px;
            text-align: center;
        }

        .subtitle {
            color: #7f8c8d;
            font-size: 18px;
            margin-bottom: 25px;
        }

        /* TABLE */
        table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 80%;
            background: #ffffff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            margin-bottom: 40px;
        }

        th {
            background-color: #34495e;
            color: white;
            padding: 12px;
            font-size: 18px;
        }

        td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        /* CLICKABLE ROW */
        .clickable-row {
            cursor: pointer;
            transition: 0.3s ease;
        }

        .clickable-row:hover {
            background-color: #f2f2f2;
        }

        /* BOOK IMAGE */
        img {
            border-radius: 6px;
            /*box-shadow: 0 2px 6px rgba(0,0,0,0.2); */
        }

        /* BOOK LINK */
        td a {
            color: #2c3e50;
            font-weight: bold;
            text-decoration: none;
            transition: 0.3s ease;
        }

        td a:hover {
            color: #f39c12;
        }
 