        /* MAIN CONTENT AREA */
        .container {
            max-width: 1000px;
            margin: 40px auto;
            background: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        }

        h1 {
            text-align: center;
            color: #2c3e50;
        }

        /* FORM */
        form {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 25px;
        }

        button {
            background-color: #2c3e50;
            color: white;
            /*padding: 8px 16px; */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s ease;
        }

        button:hover {
            background-color: #f39c12;
        }

        /* TABLE */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table.dataframe thead tr {
            text-align: center !important;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th {
            background-color: #2c3e50;
            color: white;
            padding: 10px;
        }

        td {
            padding: 8px;
            text-align: center;
        }

        /* CHART */
        .chart {
            display: block;
            margin: 30px auto;
            max-width: 100%;
        }

        .no-data {
            text-align: center;
            color: #888;
            font-size: 20px;
            margin-top: 30px;
        }

        