      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
        text-align: center;
      }

      .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
      }

      h1 {
        margin-bottom: 20px;
        color: blue;
        text-align:center
      }