{% extends 'base.html' %}
{% load static %}

{% block title %}Available Books{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'book_list.css' %}">
{% endblock %}

{% block content %}

<h1>Books List</h1>
<br/>

<table>
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Cover Image</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr class="clickable-row" onclick="window.location='{% url 'books:detail' book.pk %}'">
      <td><a href="{% url 'books:detail' book.pk %}">{{ book.name }}</a></td>
      <td>
        {% if book.pic %}
          <img src="{{ book.pic.url }}" width="150" height="200" alt="{{ book.name }}">
        {% else %}
          <p>No image available</p>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}